<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'graph3.css' %}">
    <title>MNE Graph</title>
   <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
    window.addEventListener('DOMContentLoaded', function() {
        var event_data = {{ event_data | safe }};
        var plotDiv = document.getElementById('plot_div');

        // Create the Plotly chart
        Plotly.newPlot(plotDiv, event_data.data, event_data.layout, {responsive: true});
    });
</script>
</head>
<body>
     <h1>MNE Graph Example</h1>
    <div id="window" style="display: flex; justify-content: center;">
        <div id="graph">
            <img width="700px" height="500px" src="event_plot.png">
        </div>
    </div>

</body>
</html>